{% load static tailwind_tags %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title|default:"Tianguis" }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% leaflet_js %}
    {% leaflet_css %}    
    {% include "siteajax/cdn.html" %}    		
  </head>
  
<body class="bg-gray-50 leading-normal tracking-normal">



{% block body %}
awas aquy
{% endblock %}
</body>
</html>
