{% extends "base.html" %}
{% load leaflet_tags %}
{% load markdownify %}

{% block body %}
<div class="flex flex-col p-2">

  <h1 class="p-2 bg-white text-sky-700 text-2xl flex-1">
      {{ ad.title }}
  </h1>

  <div class="p-2 bg-white text-2xl text-gray-500 text-right">
    {{ ad.price|default:"" }}
  </div>
  
  <div class="flex-1">
    {% if ad.front_pic.image %}
    <div id="pic_{{ ad.id }}"
	 hx-get="{% url 'pic_frame' mode='detail' ad_id=ad.id current_pic_id=0 %}"
	 hx-trigger="load">
    </div>
    {% endif %}
  </div>

  <div class="flex justify-center">
  <div class="bg-amber-50 font-sm text-stone-800 p-2 px-4 mx-4 max-w-prose">
    {{ ad.description|markdownify }}
  </div>
  </div>
  
  {% if ad.point %}
  <div class="">
    <script>
      function map_init_basic (map, options) {
	  
	  map.setView([{{ ad.point.coords.1 }},
		       {{ ad.point.coords.0 }}],
		      13);
	  L.marker([{{ ad.point.coords.1 }},
		    {{ ad.point.coords.0 }}]).addTo(map);
	  
      }
    </script>
    {% leaflet_map "barrio" callback="window.map_init_basic" %}
  </div>
  {% endif %}
    

  <div class="p-2 bg-white text-sm ">
    {{ ad.author }}
  </div>

</div>

{% endblock %}
