{% load static %}

<div id="ads"  class="flex flex-col gap-2 m-2">

  {% for ad in ads %}
  <div class="bg-gray-50 flex flex-row w-3/4">
    
    <h1 class="p-2 bg-white text-sky-700">
      <a href="{% url 'ad_detail' ad_id=ad.id %}">
	{{ ad.title }}
      </a>
    </h1>
    
    <div class="p-2 bg-white text-xl text-gray-500 text-right">
      {{ ad.price|default:"" }}
    </div>
    
    <div class="p-2 bg-white text-sm ">
      {{ ad.author }}
    </div>
    
  </div>
{% endfor %}
</div>
