{% extends "base.html" %}
{% load static %}

{% block body %}
<script>{% include "siteajax/init_csrf.js" %}</script>

<div class="bg-teal-800 flex flex-wrap">
  

  
  <form method="get"
	hx-get="{% url 'search' %}"
	hx-target="#ads"
	hx-replace-url="true"
	hx-swap="outerHTML">
    
    
    <div class="">
      <select
	id='cat_select'
	name="cat"
	hx-replace-url="false"	
	hx-get="{% url 'subcats' %}"
	hx-target="#subcategory"
	class="m-1.5 w-64 rounded-lg border-gray-300 text-gray-700 sm:text-sm">
	{% for cat in categories %}
	<option value="{{ cat.category_slug }}"
		{% if cat.category_slug == category.category_slug %}
		selected
		{% endif %}
		>{{ cat.title }}</option>
	{% endfor %}
      </select>

      <select
	id="subcategory"
	name="subcat"
	class="m-1.5 w-64 rounded-lg border-gray-300 text-gray-700 sm:text-sm">
	<option value="all"
		{% if subcategory_slug == 'all'%}
		selected
		{% endif %}>All</option>
	
	{% for subcat in category.subcategory_set.all %}
	<option value="{{ subcat.subcategory_slug }}"
		{% if subcat.subcategory_slug == subcategory_slug %}
		selected
		{% endif %}
		>{{ subcat.title }}</option>
	{% endfor %}
      </select>

      <select
	name="mode"
	class="m-1.5 w-64 rounded-lg border-gray-300 text-gray-700 sm:text-sm">

	<option value="list"
		{% if mode == 'list' %}
		selected
		{% endif %}
		>list</option>

      <option value="gallery"
	      {% if mode == 'gallery' %}
	      selected
	      {% endif %}
	      >gallery</option>


      <option value="map"
	      {% if mode == 'map' %}
	      selected
	      {% endif %}
	      >map</option>
    </select>

    </div>
    
    <div class="flex flex-wrap justify-left">

      <input
	type="text"
	id="Search"
	name="busca"
	placeholder="buscar..."
	class="m-1.5 w-72 rounded-lg border-gray-300 text-gray-700 sm:text-sm"
	/>

      <select
	name="item_status"
	id="item_status"
	class="m-1.5 w-64 rounded-lg border-gray-300 text-gray-700 sm:text-sm"
	>
	<option value="cualquiera">cualquier condición o estado</option>
	<option value="nuevo">nuevo</option>
	<option value="como_nuevo">como nuevo</option>
	<option value="poco_uso">poco uso</option>
	<option value="usado">usado</option>
	<option value="viejo">viejo</option>
      </select>
    
      <div class="ml-6 px-2 bg-teal-700 text-white">
	rango de precio
      <input
	type="text"
	id="precio_desde"
	placeholder="desde $"
	name="precio_desde"
	class="m-1.5 w-32 rounded-lg border-gray-300 text-gray-700 sm:text-sm"
	/>
      <input
	type="text"
	id="precio_hasta"
	placeholder="hasta $"
	name="precio_hasta"
	class="m-1.5 w-32 rounded-lg border-gray-300 text-gray-700 sm:text-sm"
	/>
      </div>
    
      <button type="submit"
	      class="bg-blue-600 border-2 border-slate-100 rounded m-1.5 p-1.5 ml-4 text-gray-50 hover:bg-pink-800">
	
	buscar
      </button>      
    </div>
  </form>
  
</div>

<div class="bg-teal-900 text-gray-100 p-2">
  {% if ads.has_previous %}
  <a href="?page=1">&laquo; first</a>
  <a href="?page={{ ads.previous_page_number }}">previous</a>
  {% endif %}
  
  <span class="current">
    Page {{ ads.number }} of {{ ads.paginator.num_pages }}.
  </span>
  
  {% if ads.has_next %}
  <a href="?page={{ ads.next_page_number }}">next</a>
  <a href="?page={{ ads.paginator.num_pages }}">last &raquo;</a>
  {% endif %}
</div>


<div id="ads" hx-get hx-trigger="load"></div>

{% endblock %}
