{% load static %}
{% load markdownify %}

<div id="ads">
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 m-2">

  {% for ad in ads %}
  <div class="bg-gray-100 rounded shadow flex flex-col overflow-hidden content-end">

    <h1 class="p-2 bg-white text-sky-700">
      <a href="{% url 'ad_detail' ad_id=ad.id %}">
	{{ ad.title|truncatechars:62 }}
      </a>
    </h1>
    
  
    {% if ad.front_pic.image %}
    <div class="h-96">
      <div id="pic_{{ ad.id }}"
	   hx-get="{% url 'pic_frame' mode='gallery' ad_id=ad.id current_pic_id=0 %}"
	   hx-trigger="load">
      </div>
    </div>
    
    
    {% else %}
    
    
    <div class="bg-amber-50 font-sm text-stone-800 p-2 h-[22rem] overflow-auto">
      {{ ad.description|markdownify }}
    </div>
    {% endif %}
    
    
    
    <div class="p-2 bg-white text-2xl text-gray-500 text-right">
      {{ ad.price|default:"" }}
    </div>

    <div class="p-2 bg-white text-sm ">
      {{ ad.author }}
    </div>
    
  </div>
  {% endfor %}
</div>
</div>
