{% extends "base.html" %}

{% block body %}

<div class="p-2">

  <ul>
    {% for cat in cats %}
    <li>
      {{ cat }}
      <ul>
	{% for sub in cat.subcategory_set.all %}
	<li>
	  <a href="{% url 'search' %}?cat={{ cat.category_slug }}&subcat={{ sub.subcategory_slug }}"
	     class="text-blue-800">
	    {{ sub }}
	  </a>
	</li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>



<!-- Initialize CSRF token for Django (if you ever want to use POST/PUT etc.) -->
<!-- <script>{% include "siteajax/init_csrf.js" %}</script> -->

<!-- <script>
     // document.body.addEventListener('newsReady', function(event){
     //    alert('News loaded: ' + event.detail.count);
     // })
     </script> -->

{% endblock %}
