{% load static %}
{% load leaflet_tags %}

<div id="ads">
{% if ads %}
<div id="barrio" class="h-screen bg-stone-100">
</div>

<script>
  function map_init_basic (map) {
      {% for ad in ads %}
      {% if ad.point %}
      marker = L.marker([{{ ad.point.coords.1 }},
			 {{ ad.point.coords.0 }}]).addTo(map);
      marker.bindPopup("<a href='{% url 'ad_detail' ad_id=ad.id %}'>{{ ad.title }}</a>").openPopup(); 
      {% endif %}            
      {% endfor %}

      {% if ads %}

      map.fitBounds([
	  [{{ bounds.0.1 }}, {{ bounds.0.0 }}],
	  [{{ bounds.1.1 }}, {{ bounds.1.0 }}]
      ])
      {% endif %}
  }

  var map = L.map('barrio');
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  map_init_basic(map);
  
</script>
{% endif %}
</div>
