<div id="pic_{{ ad.id }}" class="flex flex-col">
  
  <div class="bg-pink-500 overflow-clip h-80">
    <img
    src="{{ current_pic.image.url }}"
    alt="{{ ad.description }}"
    class="object-cover h-full w-full"
    />
  </div>

  {% if next_pic_id is not None %}
  <div class="flex flex-row w-full font-sm items-center justify-center bg-stone-300">
    <div
      class="bg-sky-800 text-white m-1 p-1 w-4 rounded-full cursor-pointer"
      hx-get="{% url 'pic_frame' mode='gallery' ad_id=ad.id current_pic_id=previous_pic_id %}"
      hx-trigger="click"
      hx-target="#pic_{{ ad.id}}">
      ⏴
    </div>
    <div class="grow">
      <center>
    {% for p in position %}
    {% if p %}
    ▪
    {% else %}
    ▫
    {% endif %}
    {% endfor %}
      </center>
    </div>
    <div
      class="bg-sky-800 text-white m-1 p-1 w-4 rounded-full cursor-pointer"
      hx-get="{% url 'pic_frame' mode='gallery' ad_id=ad.id current_pic_id=next_pic_id %}"
      hx-trigger="click"
      hx-target="#pic_{{ ad.id}}">
      ⏵
    </div>
  </div>
  {% endif %}

  
</div>
