<div id="pic_{{ ad.id }}" class="flex flex-col">
  
  <div class="bg-stone-100 items-center justify-center">
    <center>
    <img
    src="{{ current_pic.image.url }}"
    alt="{{ ad.description }}"
    class="object-contain h-[30rem]"
      />
    </center>
  </div>

  {% if next_pic_id is not None %}
  <div class="flex flex-wrap grow items-center justify-center bg-stone-300">
    <div
      class="bg-sky-800 text-white m-1 p-1 w-4 rounded-full cursor-pointer"
      hx-get="{% url 'pic_frame' mode='detail' ad_id=ad.id current_pic_id=previous_pic_id %}"
      hx-trigger="click"
      hx-target="#pic_{{ ad.id}}">
      ⏴
    </div>
      
    {% for pic in ad.picture_set.all %}
    <img src="{{ pic.image.url }}"
	 hx-get="{% url 'pic_frame' mode='detail' ad_id=ad.id current_pic_id=forloop.counter0 %}"
	 hx-trigger="click"
	 hx-target="#pic_{{ ad.id}}"
	 class="object-contain h-24 cursor-pointer m-1 {% if pic == current_pic %}border-4 border-teal-500{% endif %}">
    {% endfor %}

    <div
      class="bg-sky-800 text-white m-1 p-1 w-4 rounded-full cursor-pointer"
      hx-get="{% url 'pic_frame' mode='detail' ad_id=ad.id current_pic_id=next_pic_id %}"
      hx-trigger="click"
      hx-target="#pic_{{ ad.id}}">
      ⏵
    </div>
  </div>
  {% endif %}

  
</div>
