
<div class="bg-sky-200 p-2">

  <form method="get" target="{% url 'search' %}">
    <div class="flex flex-row">    
      {{ filter.form.as_div }}
      
      <button type="submit"
	      class="text-gray-600 hover:text-gray-700">
	buscar
      </button>
    </div>
  </form>
</div>

<div id="results" hx-get hx-trigger="load"></div>
